.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.code-mergeignore
commit-message.md
images/
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
package-lock.json
*.vsix